
.auth-container {
    width: 60%;
    margin: 6rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    background-color: #dedede;
    border-radius: 5px;

    .auth-title {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        color: #000;
        border-bottom: 2px solid #000;
    }

    .auth-form {
        width: 75%;
        margin: 0 auto;
    }

    .auth-btn {
        width: 25%;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #03030329;
        background-color: rgb(23, 77, 114);
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
            box-shadow: 4px 4px 4px #0808084e;
        }
    }
}

// User Edit Form



.user-edit-container {
    width: 40%;
    margin: 2rem 0 4rem 2rem;
    position: absolute;
    transform: translateY(-500%);
    transition: all 0.7s ease-in-out;
}

.user-edit-slide {
    transform: translateY(0);
}