

.loading-container {
    width: 100%;
    min-height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-text {
        font-size: 2.5em;
        color: $dark-blue1;
    }
}


.blogs-container {
    width: 100%;
    min-height: calc(100vh - 45px);
    
    
    .blogs-header {
        width: 84%;
        margin: 2rem auto;
        height: 200px;
        background-color: $dark-blue1;
        border: 1px solid $grey1;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.75);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 2fr 3fr;

        .blogs-header-title {
            margin: 2rem auto;
            font-size: 2.5em;
            color: $white;
            padding-bottom: 1rem;
        }

        .blogs-header-link {
            padding: 1rem;
            font-size: 1.3em;
            color: $grey1;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }

        .blogs-featured-wrapper {
            width: 100%;
            height: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blogs-featured-title {
                width: 40%;
                margin-top: -0.5rem;
                font-size: 1.5em;
                color: $light-blue;
                border-bottom: 1px solid $light-blue;
                float: right;
            }
        }
    }

    .blogs-body {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .blogs-list-wrapper {
            width: 90%;
            margin: 1rem auto;
            display: flex;
            flex-direction: column;
        }

        .blogs-sidebar-container {
            width: 90%;
            margin: 1rem auto;
        }
    }
}

// Blogs Sidebar 

.blogs-sidebar-wrapper {
    font-family: 'Zilla Slab', serif;
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: $tan;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);

    .categories-title {
        font-size: 1.6em;
        color: $blue3-5;
        padding: 1rem 2rem;
    }

    .categories-list-wrapper {
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $grey1;
        margin-bottom: 1rem;

        .categories-list-item {
            font-size: 1.4em;
            color: $blue2-5;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $blue4-5;
                transform: scale(1.05);
                border-bottom: 1px solid $light-grey1
            }
        }
    }

    .socials-title {
        font-size: 1.6em;
        color: $dark-blue1;
        padding: 1rem 2rem;
    }

    .socials-list-wrapper {
        width: 60%;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .blog-sidebar-social-link {
            font-size: 2em;
            color: $dark-green2;
            padding: 0.5rem 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $green2;
                transform: scale(1.05);
            }
        }
    }
}

// Blog Item

.blog-item {
    width: 90%;
    min-height: 225px;
    padding: 1rem;
    margin: 1rem 0rem;
    border-bottom: 1px solid $light-grey1;

    .blog-item__title {
        font-size: 2.2em;
        color: $dark-blue1;
    }

    .blog-item-widgets {
        width: 100%;
        height: 35px;
        background-color: $light-grey1;
        border-bottom: 1px solid $grey1;
        display: flex;
        border-radius: 3px;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.255);

        .widgets-left {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;

            .widgets-username {
                font-size: 1.2em;
                color: $black;
            }
        }

        .blog-item-widgets-visit {
            font-size: 1.4em;
            text-decoration: none;
            color: $dark-red3;
            padding: 0rem 2rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $red3;
                transform: scale(1.05);
            }
        }

        .widgets-right {
            width: 50%;
            display: flex;
            justify-content: flex-end;

            .blog-item-widgets-edit {
                font-size: 1.4em;
                text-decoration: none;
                color: $dark-green2;
                padding: 0rem 2rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $green2;
                    transform: scale(1.05);
                }
            }

            .blog-item-widgets-delete {
                font-size: 1.4em;
                text-decoration: none;
                color: $dark-red3;
                padding: 0rem 2rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $red3;
                    transform: scale(1.05);
                }
            }
        }

        .blog-item-widgets-author {
            font-size: 0.9em;
            color: $red3;
            padding: 0rem 2rem;
        }

        .blog-item-widget-date {
            color: $blue1;
            padding: 0rem 1rem;
        }
    }

    .blog-item__description {
        font-size: 1.2em;
        color: $grey1;
        padding: 1rem 3rem;
    }
}

// Blog Featured Item 

.featured-blog-item {
    width: 100%;
    max-height: 100px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);

    .featured-blog-item__title {
        font-size: 1.8em;
        color: $grey2-5;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $blue1;
            transform: scale(1.03);
        }
    }

    .featured-blog-item__description {
        font-size: 1.1em;
        color: $light-grey1;
        padding: 0rem 2rem;
    }
}

// Blog Detail 

.blog-detail-container {
    width: 100%;
    min-height: calc(100vh - 45px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    .blog-detail-content-wrapper {
        width: 70%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;

        .blog-detail-title {
            font-size: 2.5em;
            color: $red2;
            padding: 1rem 0rem;
        }

        .blog-detail-widgets-wrapper {
            width: 84%;
            height: 45px;
            padding: 0.25rem 0.5rem;
            background-color: $tan2;
            border-bottom: 1px solid $grey1;
            border-radius: 3px;
            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.255);
            display: grid;
            grid-template-columns: 2fr 3fr;

            .blog-detail-widgets-left {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                .back-widget {
                    color: $dark-blue1;

                    &:hover {
                        color: $blue1;
                        text-decoration: underline;
                    }
                }

                .author-widget {
                    font-size: 1.2em;
                    color: $dark-red3;
                    margin-left: 1rem;

                    &:hover {
                        color: $red3;
                        text-decoration: underline;
                    }
                }
            }

            .blog-detail-widgets-right {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .date-widget {
                    color: $blue4;
                }

                .comments-widget {
                    color: $blue-green4;
                }

                .edit-widget {
                    font-size: 1.4em;
                    color: $dark-green2;

                    &:hover {
                        color: $green2;
                        text-decoration: underline;
                    }
                }

                .delete-widget {
                    font-size: 1.4em;
                    color: $dark-red3;

                    &:hover {
                        color: $red3;
                        text-decoration: underline;
                    }
                }
            }

            .blog-detail-widgets-item {
                font-size: 0.8em;
                text-decoration: none;
                margin: 0 0.5rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }

        .blog-detail-body-wrapper {
            width: 80%;
            margin: 1rem 2rem 3rem 2rem;
            padding: 1rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid $light-grey1;
            border-radius: 4px;
        }

        .blog-detail-comments-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            .blog-detail-comments-title {
                font-size: 1.5em;
                color: $dark-blue1;
            }

            .blog-detail-comments-list-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .blog-detail-actions-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .blog-detail-actions-link {
                margin-left: 1rem;
                font-size: 1.1em;
                text-decoration: none;
                padding: 0 1rem;
                border-radius: 4px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.2);
                    transform: scale(1.05);
                }

                .detail-back {
                    color: $dark-blue1;
                }
            }
        }
    }

    .blog-detail-sidebar-wrapper {
        width: 90%;
        margin: 4rem auto;
    }
}

// Blog Comment Item

.blog-comment-item-container {
    width: 90%;
    min-height: 100px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $light-grey1;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.255);

    .blog-comment-item-text {
        font-size: 1.1em;
        color: $grey1;
        padding: 0.5rem;
    }

    .blog-comment-item-poster {
        text-align: right;
        margin-bottom: -0.3rem;
        font-size: 0.8em;
        color: $dark-blue1;
    }

    .blog-comment-item-user {
        font-size: 0.9em;
        color: $dark-red3;
    }
}

// Blog Comment Form

.blog-comment-form-wrapper {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    .blog-comment-form-btn {
        width: 125px;
        height: 35px;
        float: right;
        background-color: $dark-blue1;
        color: $white;
        border: 1px solid $blue1;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.255);

        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
            transform: scale(1.05);
        }
    }
}

// Blog Edit 

.edit-blog-container {
    width: 100%;

    .edit-blog-header {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        align-items: center;

        .edit-blog-header-title {
            font-size: 2.2em;
            color: $dark-blue1;
        }

        .edit-blog-header-link {
            font-size: 1.1em;
            margin: 0 2rem;
            color: $dark-red3;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $red3;
                transform: scale(1.05);
            }
        }
    }

    .edit-blog-body {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;

        .edit-blog-wrapper {
            width: 70%;
            margin: 1rem auto;
            padding: 3rem 1rem;
            border-top: 1px solid $light-grey1;
        }

        .edit-blog-sidebar-container {
            width: 90%;
            margin: 1rem auto;
        }
    }
}

// Blog New

.new-blog-container {
    width: 100%;

    .new-blog-header {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 2rem auto;

        .new-blog-header-title {
            font-size: 2.2em;
            color: $dark-blue1;
        }

        .new-blog-header-link {
            font-size: 1.1em;
            margin: 0 2rem;
            color: $dark-red3;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $red3;
                transform: scale(1.05);
            }
        }
    }

    .new-blog-body {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;

        .new-blog-wrapper {
            width: 70%;
            margin: 1rem auto;
            padding: 2rem 1rem;
            border-top: 1px solid $light-grey1;
        }

        .new-blog-sidebar-container {
            width: 90%;
            margin: 1rem auto;
        }
    }
}