
.homepage-container {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .homepage-title {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 1rem;
        color: #491bb4;
    }

    .homepage-subtitle {
        font-size: 1.1em;
        font-weight: 500;
        color: #2f2c17;
        text-align: center;
    }

    .homepage-actions-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .homepage-button {
            margin-left: 1rem;
            padding: 2px 25px;
            border-radius: 2px;
            box-shadow: 2px 2px 2px 2px #37362d1e;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.06t);
                box-shadow: 2px 2px 2px 2px #37362d38;
            }
        }

        .about {
            background: #2f5e63;
            color: #fff;
        }

        .portfolio {
            background: #37362d;
            color: #fff;
        }
    }
}