
.homepage-container {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .homepage-title {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $light-blue;
    }

    .homepage-subtitle {
        font-size: 1.1em;
        font-weight: 500;
        color: $black;
        padding: 0 1rem;
    }

    .homepage-actions-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .homepage-button {
            margin-left: 1rem;
            padding: 2px 25px;
            border-radius: 2px;
            box-shadow: 2px 2px 2px #37362d1e;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.06);
                box-shadow: 3px 3px 3px #37362d68;
            }
        }

        .about {
            background: $light-blue;
            color: $white;
        }

        .portfolio {
            background: $blue;
            color: $white;
        }
    }
}