
.main-navigation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $tan;
    background-color: $white;

    .main-navigation-header-wrapper {
        width: 96%;
        height: 150px;
        margin: 0.5rem auto;
        background: linear-gradient(60deg, rgba(0, 0, 255, 0) 0%, rgb(176, 177, 177) 20%, rgb(205, 206, 215) 50%, rgb(233, 232, 232) 80%, rgba(128, 128, 128, 0) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .main-navigation-links-wrapper {
        width: 100%;
        padding: 0 1rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom: 1px solid $tan;
        position: relative;

        .links-title {
            width: 100%;
            text-align: left;
            font-size: 1.3em;
            padding: 0.5rem 0;
            text-decoration: none;
            color: $black;
        }
    }

    .main-navigation-auth-wrapper {
        width: 100%;
        padding: 0.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.main-nav-link {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0.5rem 0;
    text-decoration: none;
    color: $black;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        color: $blue;
    }
}

.link-active {
    color: $blue;
    transform: scale(1.1);
    padding: 0.5rem 0;
    border-bottom: 1px solid $blue;
}

// Project Links Container

.container-slide-in {
    transform: translateX(calc(700px + 115%));
}

.links-containers {
    width: 90%;
    position: absolute;
    left: -700px;
    background-color: transparent;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
}

.project-links-container {
    top: 45%;
}

.example-links-container {
    top: 60%;
}

// User Item 

.nav-user-item {
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    box-shadow: 2px 2px 5px rgba(151, 150, 150, 0.372);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 4px 4px 5px rgba(37, 33, 29, 0.265);
    }

    .user-avatar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-name-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .user-name {
            margin-right: 0.4rem;
            font-size: 1.2em;
            font-weight: 600;
            color: #161616;
        }
    }
}

.user-item-active {
    background-color: rgba(242, 241, 241, 0.43);
    transform: scale(1.02);
    box-shadow: 4px 4px 5px rgba(145, 114, 60, 0.672);
}