
.posts-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    background-color: $post-grey2;

    .posts-header {
        width: 90%;
        margin: 2rem auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $post-grey5;

        .posts-title {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 1rem;
            color: $post-black;
        }

        .new-post-link {
            text-align: right;
            font-size: 1.2em;
            font-weight: 500;
            color: $post-dark-red;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-red;
                transform: scale(1.06);
            }
        }
    }

    .posts-body {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }
}

// Author Item

.author-item {
    width: 80%;
    height: 500px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.249);
    border-radius: 5px;
    box-shadow: 0px 0px 7px #0000003a;

    .author-item-username {
        font-size: 2em;
        font-weight: 700;
        color: $post-black;
    }

    .author-item-email {
        font-size: 1.2em;
        font-weight: 500;
        color: $post-black;
    }

    .author-item-created-at {
        font-size: 0.9em;
        color: $post-grey6;
    }

    .author-item-more-link {
        font-weight: 500;
        margin-top: 2rem;
        color: $post-dark-red;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $post-red;
            transform: scale(1.06);
        }
    }

    .post-author-detail-wrapper {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $post-grey5;

        .post-author-detail-item {
            font-size: 1.1em;
            color: $post-grey6;
            margin-bottom: 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-grey7;
                transform: scale(1.06);
            }
        }

        .post-author-detail-close-button {
            font-size: 1.1em;
            color: $post-grey6;
            border-radius: 3px;
            background-color: $post-grey2;
            box-shadow: 2px 2px 2px #37362d1e;
            margin-bottom: 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-grey7;
                transform: scale(1.03);
                box-shadow: 4px 4px 4px #37362d1e;
            }
        }
    }
}

// Post Item 

.post-item {
    width: 90%;
    height: 250px;
    margin: 2rem 0;
    border-bottom: 1px solid #0000001e;
    display: grid;
    grid-template-columns: 6fr 8fr 1fr;
    background-color: $post-grey3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 7px #0000003a;

    .post-item-header {
        width: 100%;
    }

    .post-item-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .post-item-body-text {
            font-size: 1.1em;
            text-align: right;
            color: $black;
        }

        .post-item-body-by {
            font-size: 0.7em;
            color: $black;
        }

        .post-item-body-username {
            font-size: 1.2em;
            color: $post-orange;
            margin-left: 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-dark-red;
                transform: scale(1.06);
            }
        }
    }

    .post-item-btn {
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $post-grey5;
            transform: scale(1.01);
        }
    }
}

// New Post 

.new-post-container {
    width: 100%;
    min-height: 100vh;
    background-color: $post-grey3; 
    color: $post-black;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .new-post-form-wrapper {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .new-post-header {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $post-grey5;

        .new-post-title {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 1rem;
            color: $post-black;
        }

        .new-post-link {
            text-align: right;
            font-size: 1.2em;
            font-weight: 500;
            color: $blue3-5;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $blue5-5;
                transform: scale(1.06);
            }
        }
    }
}

// Post Form

.post-form {
    width: 70%;
    border-top: 1px solid $post-grey5;
    border-bottom: 1px solid $post-grey5;
    padding: 2rem;

    .post-form-btn {
        width: 30%;
        float: right;
        margin-bottom: 1rem;
        border-radius: 3px;
        background-color: $blue3-5;
        color: $white;
        box-shadow: 3px 3px 3px #37362d1e;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow: 4px 4px 5px #37362d68;
        }
    }
}