
.posts-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    background-color: $post-grey2;

    .posts-header {
        width: 90%;
        margin: 2rem auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;

        .posts-title {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 1rem;
            color: $post-black;
        }

        .new-post-link {
            margin: 1rem 0;
            text-align: right;
            font-size: 1.2em;
            font-weight: 500;
            color: $blue4-5;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $blue2-5;
                transform: scale(1.06);
            }
        }

        .clear-author-button {
            width: 75%;
            margin-top: 2rem;
            font-size: 1.1em;
            color: $post-black;
            border-radius: 3px;
            background-color: $post-grey2;
            box-shadow: 2px 2px 2px #37362d62;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.03);
                box-shadow: 4px 4px 4px #37362d60;
            }
        }
    }

    .posts-body {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }
}

// Author Item

.author-item {
    width: 100%;
    min-height: 500px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #0000003a;
    background-color: $post-grey8;

    .author-item-username {
        font-size: 2em;
        font-weight: 700;
        color: $blue1-5;
        padding: 0.5rem 0;
        border-bottom: 1px solid $blue1-5;
        margin: 1rem 0;
    }

    .author-item-email {
        text-align: right;
        font-size: 1.3em;
        font-weight: 500;
        color: $post-grey2;
    }

    .author-item-created-at {
        text-align: right;
        color: $post-grey2;
        letter-spacing: 1px;
    }

    .author-item-more-link {
        text-align: right;
        font-size: 0.8em;
        font-weight: 500;
        margin-top: 2rem;
        color: $post-red;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $post-dark-red;
            transform: scale(1.06);
        }
    }

    .post-author-detail-wrapper {
        padding: 1rem 1rem;
        margin-top: 1rem;
        border-bottom: 1px solid $post-grey6;

        .post-author-detail-item {
            font-size: 1.2em;
            color: $post-grey4;
            margin-bottom: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-grey6;
                transform: scale(1.06);
                text-decoration: underline;
            }
        }

        .post-author-detail-close-button {
            width: 75%;
            font-size: 1.1em;
            color: $post-grey2;
            border-radius: 3px;
            background-color: $blue3-5;
            box-shadow: 2px 2px 2px #37362d62;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.03);
                box-shadow: 4px 4px 4px #37362d60;
            }
        }
    }
}

// Post Item 

.post-item {
    width: 94%;
    height: 250px;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 6fr 8fr 1fr;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 7px #0000006a;
    color: $post-grey1;
    background-color: $post-grey8;

    .post-item-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-item-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .post-item-body-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .post-like-btn {
                color: $post-dark-red;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.15);
                    color: $post-red;
                }
            }
        }

        .post-item-body-text {
            font-size: 1.2em;
            text-align: right;
            padding-top: 1rem;
        }

        .post-item-body-by {
            font-size: 0.7em;
        }

        .post-item-body-username {
            font-size: 1.2em;
            color: $post-orange;
            margin-left: 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-dark-red;
                transform: scale(1.06);
            }
        }
    }

    .post-item-btn {
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $post-grey6;
            transform: scale(1.01);
        }
    }
}

// Edit Post

.edit-post-container {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: $post-blue;
    color: $post-black2;
    display: flex;
    flex-direction: column;

    .edit-post-title {
        font-size: 2.5em;
        font-weight: 700;
        margin: 2rem 0;
    }

    .edit-post-actions {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

        .edit-post-action {
            height: 40px;
            margin-left: 3rem;
            font-size: 1.1em;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
                transform: scale(1.03);
            }
        }

        .back-link {
            color: $post-black2;
        }

        .post-link {
            color: $post-grey;
        }

        .delete-link {
            color: $post-red;
        }
    }
}

// New Post 

.new-post-container {
    width: 100%;
    min-height: 100vh;
    background-color: $post-blue; 
    color: $post-black2;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .new-post-form-wrapper {
        width: 90%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .new-post-header {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $post-grey;

        .new-post-title {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 1rem;
            color: $post-black2;
        }

        .new-post-link {
            text-align: right;
            font-size: 1.2em;
            color: $post-grey;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $post-light-grey;
                transform: scale(1.06);
            }
        }
    }
}

// Post Form

.post-form {
    width: 70%;
    border-top: 1px solid $post-grey;
    border-bottom: 1px solid $post-grey;
    padding: 6rem 2rem;

    .post-form-btn {
        width: 30%;
        float: right;
        margin-bottom: 1rem;
        border-radius: 3px;
        background-color: $post-light-grey;
        color: $post-black2;
        box-shadow: 3px 3px 3px #37362d1e;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow: 4px 4px 5px #37362d68;
        }
    }
}

// Post Detail

.post-detail-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $post-blue;
    padding-top: 1rem;

    .post-detail-content {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .post-detail-image {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #0000006a;

        }

        .post-detail-body {
            width: 100%;
            min-height: 160px;
            margin: 1rem 0;
            font-size: 1.2em;
            padding: 1rem 2rem;
            border-radius: 5px;
            background-color: $post-white;
            border: 1px solid $post-grey;
            color: $post-black2;
            box-shadow: 0px 0px 6px #0000006a;
        }

        .post-detail-actions {
            width: 100%;
            padding-top: 2rem;
            padding-left: 2rem;
            margin-top: 2rem;
            display: flex;
            border-top: 1px solid $post-grey;

            .delete-post-link {
                margin-right: 2rem;
                text-decoration: underline;
                font-size: 1.2em;
                color: $post-red;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $post-dark-red;
                    transform: scale(1.06);
                }
            }

            .edit-post-link {
                margin-right: 2rem;
                font-size: 1.2em;
                color: $dark-green2;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $green2;
                    transform: scale(1.06);
                }
            }

            
        }
    }

    .back-to-posts-link {
        font-size: 1.2em;
        color: $post-grey8;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $post-grey6;
            transform: scale(1.06);
        }
    }

    .post-comment-container {
        width: 100%;
        margin-top: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $post-grey;
    }
}