@import 'main-navigation';

@import 'auth';

@import 'homepage';
@import 'userpage';

.root-layout-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}