
// Root

$black: #393D3F;
$white: #FDFDFF;
$tan: #C6C5B9;
$light-blue: #62929E;
$blue: #546A7B;




// Calculator 

$calc-black: #001219;
$calc-blue: #005F73;
$calc-blue-green: #0A9396;
$calc-foam-green: #94D2BD;
$calc-tan: #E9D8A6;
$calc-light-orange: #EE9B00;
$calc-orange: #CA6702;
$calc-red-orange: #BB3E03;
$calc-red: #AE2012;
$calc-dark-red: #9B2226;